.block-result {
    max-height: 200px;
    overflow-y: scroll;
    border: 1px #ccc solid;
    padding: 5px;
}



.block-result .url{
    color: #818181;
}

.block-result .final{
    color: darkgreen;
}
.block-result .final:before{
    content: "\2713";
    color: #00ff00;
}